*{
    margin: 0;
    padding: 0;
}
div.bg img{
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
  }
  div.image_body {
    display: flex;
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }
  .img_display{
    width: 35%;
    height: 100%;
  }



.image_display img{
    
    height: 100%;
    width: 100%;
    border-radius: 2px;

}



div.images{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    


}

div.images img{
    
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 8px 6px;
    border-radius: 2px;
    opacity: 0.8;
    
}




div.images img:hover{
    transform: scale(1.1);
}
div.image_display img:hover{
    transform: scale(0.95);
}









.con-2 {

    height: 100%;
    width: 55%;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}


.text {
    height: 30%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.con2-t {
    background: black;
    color: white;
    padding: 6px;
    font-size: 1.3rem;
    font-family: serif;
    text-align: center;
    letter-spacing: 4px;
    width: 30%;
    margin: auto;


}



.con2-t2 {
    font-size: 1.2rem;
    font-family: serif;
    color: rgb(250, 250, 250);
    word-spacing: 5px;
}



.con2-t3 {

    width: 100%;
    height: 29%;

    border-left: 6px solid rgba(252, 251, 251, 0.767);
}

p.text3 {
    font-size: 1.4rem;
    word-spacing: 5px;
    margin: 3%;
}

.con2-img {
    margin-top: 4%;
    width: 100%;
    height: 42%;
    background-image: url('/images/bg-4.jpg');
    background-size: 100% 100%;
}











@media (min-width:220px) and (max-width: 600px) {
    html{
    font-size:10px;
    
    }
    .con5-btn{
        /* padding: 16px 0; */
        font-size: 2.2rem;
        background: #000;
        height: 28px;
        width: 120px;
    }
    
    
    
    
    
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media (max-width:768px) and (min-width:600px) {
    html{
        font-size: 12px;
    }
    .con5-btn{
        /* padding: 16px 0; */
        font-size: 2.2rem;
        background: #000;
        height: 32px;
        width: 120px;
    }
    
    
    
    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media(max-width:992px) and (min-width:768px){
    html{
        font-size: 14px;
    }
    .con5-btn{
        /* padding: 16px 0; */
        font-size: 2.2rem;
        background: #000;
        height: 35px;
        width: 128px;
    }
    
    
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) and (max-width:1200px){
    html{
        font-size: 16px;
    
        
    }
    .con5-btn{
        padding: 10px 0;
    }
    
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    
    }
    





  

  
 